# SERVER CONFIG
PORT=3000
NODE_ENV=dev

# DATABASE CONFIG
DATABASE_URL="postgresql://postgres:your-url-encoded-password@your-supabase-db-host:5432/postgres"

# SUPABASE AUTH CONFIG
SUPABASE_URL="https://your-project-ref.supabase.co"
SUPABASE_PUBLISHABLE_KEY="your-supabase-publishable-key"
