# SERVER CONFIG
PORT=3000
NODE_ENV=dev

# DATABASE CONFIG
DATABASE_URL="postgresql://postgres:your-url-encoded-password@your-supabase-db-host:5432/postgres"

# SUPABASE AUTH CONFIG
SUPABASE_URL="https://your-project-ref.supabase.co"
SUPABASE_PUBLISHABLE_KEY="your-supabase-publishable-key"

# S3 CONFIG
AWS_ACCESS_KEY_ID="your-aws-access-key-id"
AWS_SECRET_ACCESS_KEY="your-aws-secret-access-key"
AWS_REGION="your-aws-region"
AWS_S3_BUCKET_NAME="your-s3-bucket-name"